version: "3.8"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=${RABUSER}
      - RABBITMQ_DEFAULT_PASS=${RABPASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASS}
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=${MONGO_USER}
      - ME_CONFIG_MONGODB_ADMINPASSWORD=${MONGO_PASS}
      - ME_CONFIG_MONGODB_SERVER=mongo
    depends_on:
      - mongo

  scheduler:
    build:
      context: ./schedule
      dockerfile: Dockerfile
    container_name: scheduler
    environment:
      - MONGO_URI=mongodb://${MONGO_USER}:${MONGO_PASS}@mongo:27017/${DB_NAME}?authSource=admin
      - DB_NAME=${DB_NAME}
      - RABUSER=${RABUSER}
      - RABPASS=${RABPASS}
    volumes:
      - ./schedule:/app
    depends_on:
      - rabbitmq
      - mongo

  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile
    container_name: worker
    environment:
      - MONGO_URI=mongodb://${MONGO_USER}:${MONGO_PASS}@mongo:27017/${DB_NAME}?authSource=admin
      - DB_NAME=${DB_NAME}
      - RABUSER=${RABUSER}
      - RABPASS=${RABPASS}
    volumes:
      - ./worker:/app
    depends_on:
      - rabbitmq
      - mongo

volumes:
  rabbitmq_data:
  mongo_data: