version: "3.8"

services:
  backend:
    build: ./backend-app
    container_name: backend
    ports:
      - "4000:4000"
    networks:
      - app-network

  frontend:
    build: ./frontend-app
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
